<mat-card>
    <mat-card-header>
        <mat-card-title>Scoreboard</mat-card-title>
    </mat-card-header>
    <mat-card-content> 
  
      <form [formGroup]="scoreboardForm" role="form">
  
          <mat-form-field>   
  
            <input matInput name="name" placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
  
          </mat-form-field>   
  
          <mat-form-field>  
  
            <mat-select name="gender" placeholder="Gender (Male of Female)" formControlName="gender" required> 
                <mat-option value="" disabled selected>Select Gender</mat-option>
                <mat-option  *ngFor="let gender of genders" [value]="gender.gender_id">{{gender.gender}}</mat-option>
            </mat-select>  
  
          </mat-form-field>   
  
          <button mat-raised-button (click)="filterScoreboard()" color="primary" [disabled]="!scoreboardForm.valid">Create</button>
  
      </form>  
  
    </mat-card-content> 
  </mat-card>
  
  <mat-card>
    <mat-card-header>
        <mat-card-title>League Table</mat-card-title>
    </mat-card-header>
    <mat-card-content>  
  
      <mat-table [dataSource]="dataScoreboard" class="mat-elevation-z8"> 

        <ng-container matColumnDef="Image">
            <div mat-header-cell *matHeaderCellDef>Image</div>
            <div mat-cell class="image-cell" *matCellDef="let element"><img src="./assets/img/{{ element.Image }}"></div>
        </ng-container>
      
        <ng-container matColumnDef="Name">
            <div mat-header-cell *matHeaderCellDef>Name</div>
            <div mat-cell class="name-cell" *matCellDef="let element">{{ element.Name }}</div>
        </ng-container>
      
        <ng-container matColumnDef="Rating">
            <div mat-header-cell *matHeaderCellDef>Rating</div>
            <div mat-cell class="rating-cell" *matCellDef="let element">{{ element.Rating }}</div>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table> 
  
    </mat-card-content> 
  </mat-card>
  
  <router-outlet></router-outlet>