table {
    width: 100%;
  } 
  
  mat-form-field{
    width: 300px;
  }
  
  mat-card-title{
    text-align: center;
  }
  
  mat-card-header-text {
    margin: 0;
  }
  
  form > button { 
    margin: 0 50px; 
  }  