<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <button class="gender_select" fxFlex="20%" mat-raised-button (click)="chooseGender(0)" color="primary">Male MPs</button>
  <button class="gender_select" fxFlex="20%" mat-raised-button (click)="chooseGender(1)" color="primary">Female MPs</button>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <h2 class="mat-h2">Click the sexiest MP</h2>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
 
    <div class="mp-card-container">
  
      <mat-card *ngFor="let mp of twoMPsData; index as i" (click)="voteForMP(i)" fxFlex="50%" class="mp-card"> 
        <div mat-card-image [style.background-image]="'url(./assets/img/'+ mp.img +')'"></div> 
        <mat-card-actions>
          <button mat-button>{{ mp.name }}: {{ mp.rating }}</button>
        </mat-card-actions>
      </mat-card>  
  
    </div>
  
  </div>